Wayqullqi-API/node_modules/*
Wayqullqi-API/dist/*
Wayqullqi-DiscordBot/node_modules/*
Wayqullqi-API/generated/prisma/*
Wayqullqi-API/prisma/*
Wayqullqi-API/.env
Wayqullqi-DiscordBot/.env
Wayqullqi-DiscordBot/src/logs/*
Wayqullqi-API/src/logs/*
